.card-payment {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.card-payment img {
    width: 82px;
    height: 90px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.menu-item {
    padding-left: 30px;
    width: 55%;
}

.price {
    font-family: Poppins;
    font-weight: 400;
    font-size: 15px;
    width: 40%;
    text-align: center;
    margin-left: 20%;
}

.detail-item {
    color: black;
    width: 150%;
}