.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: #F8F8F8;
}

.logo-detail {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.logo-detail img {
    width: 2rem;
}

.logo-detail h2 {
    font-size: 1rem;
    font-weight: 700;
    color: black;
    margin: 0;
}

.left-foot-content {
    margin: 5rem;
}

.about-detail {
    margin-top: 1.8rem;
    width: 60%;
}

.about-detail p {
    font-size: 1rem;
    font-weight: 500;
    color: #4F5665;
    margin: 2rem 0;
}

.sosmed-detail {
    position: relative;
    display: flex;
    margin-top: 20px;
    width: 30%;
    gap: 2rem;
}

.back-logo {
    background-color: #6A4029;
    padding: 15px;
    position: relative;
    left: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.img-logo {
    position: absolute;
    bottom: -1px;
    overflow: hidden;
    object-fit: cover;
}

.copyright {
    font-size: 1rem;
    font-weight: 400;
    color: #AFB5C0;
    margin-top: 40px;
}

.right-foot-content {
    display: flex;
    justify-content: flex-end;
    gap: 9rem;
    margin: 4rem;
}

.content-detail h2 {
    font-size: 1.15rem;
    font-weight: 500;
    color: #0B132A;
    margin-bottom: 2rem;
}

.content-detail ol {
    padding-left: 0;
}

.content-detail ol li {
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
    color: #4F5665;
    line-height: 3rem;
}

.content-detail ol li:hover{
    color: #FFCB65;
    cursor: pointer;
}

/* responsive */
@media screen and (max-width: 768px) {
    .footer-container {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 768px) {
    .left-foot-content {
        margin: 2rem;
    }

    .right-foot-content {
        gap: 4rem;
    }
}

