@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap');
*, *::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.content {
    background-image: url(../assets/img/nani-williams-6PpLqUlCA0s-unsplash\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.top-content {
    padding: 5rem;
}

.title {
    color: white;
}

.title p {
    font-weight: 700;
}

.email-bar {
    position: relative;
    background-color: white;
    height: 100%;
    border-radius: 10px;
    padding: 2rem 0;
}

.email-bar input[placeholder] {
    position: absolute;
    top: 1rem;
    left: 3rem;
    font-size: 1.5rem;
    border: none;
    width: 75%;
}

.bot-content {
    padding: 2rem 0;
}

.bot-content p {
    font-size: 1.1rem;
    font-weight: 700;
    padding-top: 1rem;
}

.bot-content .btn {
    display: flex;
    justify-content: center;
}