.modal {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    width: 600px;
    background-color: #ffffff;
    text-align: center;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .modal-header,
  .modal-footer {
    padding: 10px;
  }
  
  .modal-title {
    margin: 0px;
    font-size: 35px;
    font-family: "Poppins";
  }
  
  .modal-body {
    padding: 0px;
    font-size: 30px;
    font-family: "Poppins";
  }
  
  .modal-footer {
      display: flex;
      justify-content: space-evenly;
      margin-top: 30px;
      gap: 1rem;
  }
  
  .button {
      width: 100%;
      height: 60px;
      font-family: 'Poppins';
      font-size: 25px;
      font-weight: 700;
      border-radius: 20px;
      border: 1px solid #6A4029;
      color: #6A4029;
  }
  
  .button:active {
      background-color: #6A4029;
      color: #ffffff;
  }

  form {
    flex-direction: column;
    align-items: center;
}

.full-width {
    margin: .8rem 0;
    width: 100%;
}

.input-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
}

.full-width label {
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
}

.full-width input {
    display: block;
    height: 3.5rem;
    width: 100%;
    margin: .8rem 0;
    border-radius: 20px;
    padding: .8rem;
    border: 1.2px solid #6A4029;
    /* border: none ; */
    outline: none;
}