.content {
    background-image: url(../assets/img/nathan-dumlao-zTZRZV86GhE-unsplash\ 1.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}