@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap');
*, *::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}

/* main-content */
.main-container {
    display: flex;
    width: 100%;
    background-color: white;
    border-top: .5px solid #9F9F9F ;
    box-shadow: 0px 30px 60px rgb(57 57 57 / 10%);
}

.main-container .left-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1rem 2rem;
}

.main-container .left-content h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #6A4029;
    padding: 2rem;
}

.main-container .left-content p {
    text-align: center;
    font-size: .8rem;
    font-weight: 400;
    max-width: 75%;
    padding-bottom: 1.5rem;
}

.main-container .left-content .promo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promo-detail {
    position: relative;
}

.main-container .left-content .promo-detail .med-bar {
    position: absolute;
    height: 75%;
    padding: 5rem;
    background-color: black;
    border-radius: 1rem;
    right: -2rem;
    top: 2rem;
    display: none;
}

.main-container .left-content .promo-detail .back-bar {
    position: absolute;
    height: 65%;
    padding: 5rem;
    background-color: #895537;
    border-radius: 1rem;
    right: -3.5rem;
    top: 3.7rem;
    display: none;
}

.main-container .left-content .promo-detail {
    width: 75%;
}

.left-content .promo-detail button {
    border: none;
    background-color: #6A4029;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 1rem;
}

.left-content .promo-detail button:hover {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.left-content .promo-detail button:active {
    position: relative;
    top: 2px;
}

.left-content ol {
    list-style: none;
    margin-top: 10rem;
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.2rem;
    color: #4F5665;
}

.left-content .add-promo {
    padding: 17rem 3rem;
}

.main-container .right-content {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: flex-start;
    width: 100%;
    gap: 1rem;
    padding: 2rem;
    border-left: 0.5px solid #9F9F9F;
}

.main-container .right-content ul {
    list-style: none;
    display: flex;
    gap: 5rem;
    padding: 0;
}

.main-container .right-content ul li {
    font-size: 1.2rem;
    font-weight: 400;
    color: #9F9F9F;
}

.main-container .right-content ul li:hover {
    color: #6A4029;
    font-weight: 700;
    cursor: pointer;
    border-bottom: 3px solid #6A4029;
    /* box-shadow: 5px 10px 18px rgba(106, 64, 41, 0.67); */
}

.right-content .content-detail {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8rem 2rem;
    padding: 6rem 3rem;
}

.right-content .dropdown {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 20%;
}

.right-content .dropdown-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: .5rem 1rem;
    background-color: white;
    box-shadow: 3px 3px 10px 6px rgb(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.right-content .dropdown-btn h2 {
    color: #9F9F9F;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}

.right-content .dropdown-btn span {
    color: #9F9F9F;
    font-size: 1rem;
}

.right-content .dropdown-btn:hover {
    transform: scale(1.1);
    transition: all .5s;
}

.right-content .dropdown-content {
    position: absolute;
    top: 3rem;
    width: 100%;
    padding: 1rem;
    background-color: white;
    box-shadow: 3px 3px 10px 6px rgb(0, 0, 0, 0.06);
    z-index: 1000;
}

.right-content .dropdown-content .dropdown-item {
    padding: 1rem 0;
    cursor: pointer;
    transition: all .5s;
}

.right-content .dropdown-content .dropdown-item:hover {
    background-color: #FFCB65;
}

.right-content .dropdown-content .dropdown-item p{
    margin: 0;
}

.right-content .paginate-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.right-content .paginate-container .title-paginate p {
    margin: 0;
}

.right-content .paginate-container .btn-paginate {
    display: flex;
    gap: 1rem;
}

.right-content .paginate-container .btn-paginate .btn-prev, .right-content .paginate-container .btn-paginate .btn-next {
    background-color: #FFCB65;
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    color: #6A4029;
    font-size: 1rem;
    font-weight: 500;
}

.right-content .add-product {
    width: 100%;
    padding: 8.6rem 2rem;
}

/* hamburger */
.menu-toggle {
    position: relative;
    display: flex;
    height: 20px;
    justify-content: space-around;
    display: none;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 10px;
    background-color: #4F5665;
    border-radius: 50%;
    transition: all .5s;
}

.menu-toggle input {
    position: absolute;
    width: 29px;
    height: 28px;
    opacity: 0;
    cursor: pointer;
    z-index: 11;
}

/* hamburger animation */

.menu-toggle input:checked ~ span {
    background-color: black;
    transform: rotate(180deg) translate(-1px, -2px);
}

/* responsive */

/* menu content */
@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: column;       
    }

    .main-container .left-content {
        width: 100%;
        padding-top: 8rem;
    }

    .main-container .right-content ul {
        padding: 1rem 0;
        margin: 0;
        gap: 2rem;
    }

    .main-container .right-content ul li {
        
        font-size: 1rem;
    }

    .left-content .add-promo {
        padding: 5rem 3rem;
    }

    .right-content .content-detail {
        gap: 8rem 3rem;
        padding: 0;
    }

    .right-content .content-detail {
    justify-content: center;
    padding-top: 6rem;
    }

    .right-content .dropdown-btn {
        z-index: 10001;
    }

    .right-content .dropdown-content {
        position: absolute;
        top: 3.5rem;
    }

    .right-content .paginate-container {
        padding: 2rem 2rem;
    }

    .right-content .add-product {
        width: 100%;
        padding: 1rem 2rem;
    }
}

@media screen and (max-width: 556px) {
    .main-container .right-content ul {
        gap: 1rem;
    }

    .right-content .content-detail {
        padding: 4rem;
    }

    .right-content .content-detail {
    justify-content: center;
    }

    .right-content .dropdown-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .right-content .dropdown-btn h2 {
        font-size: .8rem;
        font-weight: 700;
        
    }
}