@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;900&display=swap');
*, *::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.right-bar {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.right-bar .input {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.right-bar .input .btn-login {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    cursor: pointer;
    user-select: none;
}

.right-bar .input .btn-login:hover {
    color: #FFBA33;
}

.right-bar .input .btn-login:active {
    position: relative;
    top: .1rem;
}

.right-bar .input .btn-sign {
    border: none;
    outline: none;
    background: transparent;
    background-color: #FFBA33;
    padding: .5rem 1rem;
    border-radius: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: #6A4029;
}

 .right-bar .input .btn-sign:hover {
    transform: scale(1.1);
    transition: .5s;
}

 .right-bar .input .btn-sign:active {
    position: relative;
    top: .1rem;
}

/* hamburger */
.menu-toggle {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-around;
    display: none;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: #4F5665;
    border-radius: 3px;
    transition: all .5s;
}

.menu-toggle input {
    position: absolute;
    width: 29px;
    height: 28px;
    opacity: 0;
    cursor: pointer;
    z-index: 11;
}

/* hamburger animation */
.menu-toggle span:nth-child(2) {
transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
    }

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: black;
    transform: rotate(45deg) translate(-1px, -2px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: black;
    transform: rotate(-45deg) translate(-1px, 3px);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

/* responsive */
@media screen and (max-width: 768px) {

    .right-bar {
        display: none;
    }
}