@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
*, *::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.content {
    background-image: url(../assets/img/nathan-dumlao-zTZRZV86GhE-unsplash\ 1.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

.title-bar h1 {
    color: white;
    font-size: 1.8rem;
    font-weight: 700;
    width: 20%;
    padding: 2rem 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.left-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    padding: 2rem 0;
}

.left-content .title h1{
    color: #362115;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 2rem 0;
}

.order {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
    border-bottom: .5px solid black;
}

.order .product-detail {
    display: flex;
    gap: 1rem;
}

.order .order-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.order-detail ol {
    margin: 0;
    padding: 0;
}

.order-detail ol li {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
    padding: 2rem 0;
}

.payment p {
    color: #362115;
    font-size: 1.2rem;
    font-weight: 400;
}

.total {
    display: flex;
    gap: 7rem;
    padding-bottom: 2rem;
}

.total h5 {
    color: #362115;
    font-size: 1.8rem;
    font-weight: 700;
}

.right-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
}

.right-content .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-content .title h1{
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}

.right-content .title p {
    color: white;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
}

.address-detail {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 1rem;
    padding: 2rem;
    gap: 1rem;
    margin-bottom: 1rem;
}

.address-detail .border {
    border-top: .5px solid #00000060;
    border-bottom: .5px solid #00000060;
    padding: 1rem 0;
}

.address-detail p{
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
}

.address-detail span {
    font-weight: 700;
}

.payment-bar {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 1rem;
    padding: 2rem;
    gap: 1rem;
}

.payment-bar .line {
    position: relative;
    right: -2rem;
    border: .1px solid #0000003f;
    width: 92%;
}

.payment-bar .method {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.method .icon1 {
    background-color: #F47B0A;
    padding: .5rem .8rem;
    border-radius: .5rem;
}

.method .icon2 {
    background-color: #895537;
    padding: .5rem .9rem;
    border-radius: .5rem;
}

.method .icon3 {
    background-color: #FFBA33;
    padding: .6rem .6rem;
    border-radius: .5rem;
}

.method p {
    margin: 0;
    color: #000000;
    font-size: 1.2rem;
    font-weight: 400;
}

@media screen and (max-width: 768px) {
    .title-bar h1 {
        width: 100%;
    }

    .right-content {
        padding-top: 2rem;
    }
}